<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="confim" method="post">
    <label>Pclass</label>
    <input type="text" name="Pclass">
    <label>Age</label>
    <input type="text" name="Age">
    <label>SibSp</label>
    <input type="text" name="SibSp">
    <label>Parch</label>
    <input type="text" name="Parch">
    <label>Fare</label>
    <input type="text" name="Fare">
    <label>Gender</label>
    <input type="text" name="Gender">
    <label>Embarked</label>
    <input type="text" name="Embarked">
    <input type="submit" value="Register">
</form>
</body>
</html>